Repository libranet/autoread-dotenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

black:
  name: black
  entry: .venv/bin/black
  args:
  - --config=pyproject.toml
  language: system

flake8:
  name: flake8
  entry: .venv/bin/flake8
  language: system

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

ruff:
  name: ruff
  entry: .venv/bin/ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

debug-statements:
  name: check-debug-statements
  entry: .venv/bin/debug-statement-hook
  language: system

check-toml:
  name: check-toml
  entry: .venv/bin/check-toml
  language: system

end-of-file-fixer:
  name: fix-end-of-filer
  entry: .venv/bin/end-of-file-fixer
  language: system

fix-encoding-pragma:
  name: fix-encoding-pragma
  entry: .venv/bin/fix-encoding-pragma --remove
  language: system

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

Update pyproject.toml
  pyproject.toml
Due: check-toml, poetry-check

update deps
  poetry.lock
Due: none

fix overriding pre-existing env-vars
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  docs/changes.md
  docs/readme.md
  pyproject.toml
  src/autoread_dotenv/__init__.py
  tests/test_autoread.py
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

prepare release
  poetry.lock
  pyproject.toml
Due: check-toml, poetry-check

upgrade poetry to 2.0.1
  .github/workflows/constraints.txt
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  docs/changes.md
  poetry.lock
  pyproject.toml
Due: check-toml, poetry-check

make to just
  .env.template
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .gitignore
  .just/bandit.justfile
  .just/dir-structure.justfile
  .just/dotenv.justfile
  .just/ipython.justfile
  .just/just.justfile
  .just/mypy.justfile
  .just/pre-commit.justfile
  .just/project.justfile
  .just/pylint.justfile
  .just/pyroma.justfile
  .just/pytest.justfile
  .just/readthedocs.justfile
  .just/ruff.justfile
  .just/safety.justfile
  .just/sshx.justfile
  .just/ubuntu.justfile
  .just/uv.justfile
  .make/03-dotenv.mk
  .vscode/settings.json
  justfile
  poetry.lock
  pyproject.toml
Due: check-toml, poetry-check

fix just install
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .python-version
Due: none

add exported requirements
  etc/requirements.txt
Due: none

switch to uv
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .just/readthedocs.justfile
  .make/00-help.mk
  .make/01-path.mk
  .make/02-dir-structure.mk
  .make/03-dotenv.mk
  .make/04-pip.mk
  .make/05-git.mk
  .make/10-black.mk
  .make/11-isort.mk
  .make/12-flake8.mk
  .make/13-pylint.mk
  .make/14-mypy.mk
  .make/15-bandit.mk
  .make/16-ruff.mk
  .make/17-ipython.mk
  .make/18-pyroma.mk
  .make/19-safety.mk
  .make/20-pytest.mk
  .make/21-tox.mk
  .make/22-nox.mk
  .make/25-sphinx.mk
  .make/30-pre-commit.mk
  .make/55-poetry.mk
  .make/60-readthedocs.mk
  docs/conf.py
  makefile
  pyproject copy.toml
  pyproject.toml
  tests/conftest.py
  tests/test_autoread.py
  tests/test_init.py
  tests/test_warnings.py
  uv.lock
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

update uv
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .just/uv.justfile
Due: none

move away from flake8
  .github/workflows/linting.yaml
Due: none

remove poetry
  .github/workflows/testing.yaml
Due: none

add pyroma
  pyproject.toml
Due: check-toml, poetry-check

add support for python3.8
  pyproject.toml
  uv.lock
Due: check-toml, poetry-check

fix pyroma
  pyproject.toml
Due: check-toml, poetry-check

fix missing entrypoint
  pyproject.toml
  uv.lock
Due: check-toml, poetry-check

update precommit checks
  .just/uv.justfile
  .pre-commit-config.yaml
  docs/conf.py
  src/autoread_dotenv/__init__.py
  tests/conftest.py
Due: black, flake8, mypy, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

fix pytest
  .just/pytest.justfile
Due: none

fix path bandit
  .just/bandit.justfile
Due: none

set python-version file
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

show env in steps
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

fix PATH
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

update
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .just/ruff.justfile
  .readthedocs.yaml
  poetry.lock
  poetry.toml
  pyproject copy.toml
  pyproject.toml
  uv.lock
Due: check-toml, poetry-check

update changelog
  docs/changes.md
Due: none

fix typing
  pyproject.toml
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/__metadata__.py
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

update mypy-settings
  pyproject.toml
Due: check-toml, poetry-check

udate vscode extensions
  .vscode/extensions.json
Due: none

update vscode launcher
  .vscode/launch.json
Due: none

remove unused settings
  .pre-commit-config.yaml
Due: none

update vscode settings
  .vscode/settings.json
Due: none

fix ruff warnings
  pyproject.toml
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/__metadata__.py
  tests/test_entrypoints.py
  tests/test_warnings.py
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

optimize ruff-settings
  pyproject.toml
  src/autoread_dotenv/__init__.py
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

optimize ruff-config in precommit
  .pre-commit-config.yaml
Due: none

update vscode settings
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

fix security alert on missing permissions
  .github/workflows/dependabot-auto-merge.yaml
Due: none

refactor metadata
  src/autoread_dotenv/__meta__.py
  src/autoread_dotenv/utils.py
  tests/test_meta.py
Due: black, flake8, mypy, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

move to python3.13
  .python-version
Due: none

move to uv_build, drop hatchling
  pyproject.toml
Due: check-toml, poetry-check

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  ruff: any of: \.py$
  debug-statements: any of: \.py$
  check-toml: any of: \.toml$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
