Repository libranet/autoread-dotenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

check-json:
  name: check json
  entry: check-json
  language: system

check-toml:
  name: check toml syntax
  entry: check-toml
  language: system

check-yaml:
  name: check yaml syntax
  entry: check-yaml
  language: system

check-ast:
  name: check ast
  entry: check-ast
  language: system

check-builtin-literals:
  name: check builtin literals
  entry: check-builtin-literals
  language: system

check-docstring-first:
  name: check docstring first
  entry: check-docstring-first
  language: system

debug-statements:
  name: check debug statements
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files (EOF)
  entry: end-of-file-fixer
  language: system

fix-encoding-pragma:
  name: fix encoding pragma
  entry: fix-encoding-pragma --remove
  language: system

name-tests-test:
  name: pytests are prefixed tests_*.py
  entry: name-tests-test
  args:
  - --pytest-test-first
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  args:
  - --fix
  language: system

fix md formatting
  docs/changes.md
Due: none

feat: migrate from Dependabot to Renovate for dependency management
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/linting.yaml
  .github/workflows/releasing.yaml
  .github/workflows/renovating.yaml
  .github/workflows/testing.yaml
  .github/workflows/zizmor.yaml
Due: check-json, check-yaml

chore: update renovate preset
  .github/renovate.json
Due: check-json

chore: tidy project metadata and docs
  .github/funding.yaml
  docs/modules/autoread_dotenv/index.rst
  docs/modules/autoread_dotenv/utils/index.rst
  docs/readme.md
  pyproject.toml
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/warnings.py
  tests/conftest.py
Due: check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

remove duplicatd docstring
  src/autoread_dotenv/utils.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

fix permission
  .github/workflows/renovating.yaml
Due: check-yaml

replace yaml workflow with json5 config
  .github/renovate.json
  .github/renovate.json5
  .github/workflows/renovating.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: check-json, check-yaml

fix renovate
  .github/renovate.json5
Due: none

chore: correct Renovate manager names and add lockfile maintenance
  .github/renovate.json5
Due: none

refactor: drop the underscore prefix from TRUE_VALUES / FALSE_VALUES
  src/autoread_dotenv/utils.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

feat: expose entrypoint() load outcome via LoadStatus
  docs/changes.md
  docs/readme.md
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/status.py
  tests/conftest.py
  tests/test_autoread.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

refactor: trim __all__ to the genuinely public names
  src/autoread_dotenv/__init__.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

fix: narrow the blanket except OSError in get_dotenv_path()
  docs/changes.md
  src/autoread_dotenv/utils.py
  tests/test_autoread.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

docs: security policy, AUTOREAD_DOTENV_PATH threat model, backlog
  .agents/autoread-dotenv-todo.md
  docs/changes.md
  docs/security.md
  pyproject.toml
Due: check-toml

test: add Hypothesis property-based tests for the pure utils helpers
  docs/changes.md
  pyproject.toml
  tests/conftest.py
  tests/test_properties.py
  uv.lock
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

chore: stop tracking .agents/ (local agent scratch notes)
  .agents/autoread-dotenv-todo.md
  .gitignore
Due: none

chore: keep Hypothesis's cache dir under var/, not .hypothesis/ at the root
  .env.template
Due: none

docs: migrate from Sphinx to MkDocs + Material for MkDocs
  .just/mkdocs.justfile
  .just/sphinx.justfile
  .readthedocs.yaml
  docs/changes.md
  docs/conf.py
  docs/configuration.md
  docs/index.md
  docs/index.rst
  docs/modules/autoread_dotenv/about/index.rst
  docs/modules/autoread_dotenv/index.rst
  docs/modules/autoread_dotenv/utils/index.rst
  docs/modules/autoread_dotenv/warnings/index.rst
  docs/performance.md
  docs/readme.md
  docs/reference/about.md
  docs/reference/index.md
  docs/reference/status.md
  docs/reference/utils.md
  docs/reference/warnings.md
  justfile
  mkdocs.yaml
  pyproject.toml
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/status.py
  uv.lock
Due: check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

chore: tidy pyproject.toml [tool.*] section headers
  pyproject.toml
Due: check-toml

ci: build the docs with mkdocs --strict on PRs
  .github/workflows/docs.yaml
  .just/mkdocs.justfile
Due: check-yaml

docs: note the RTD "Build pull requests" toggle in .readthedocs.yaml
  .readthedocs.yaml
Due: check-yaml

feat: emit runtime warnings under a dedicated AutoreadDotenvWarning category
  docs/changes.md
  docs/configuration.md
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/utils.py
  src/autoread_dotenv/warnings.py
  tests/conftest.py
  tests/test_autoread.py
  tests/test_properties.py
  tests/test_warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

feat: re-export AutoreadDotenvWarning from the package top level
  docs/changes.md
  docs/configuration.md
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/warnings.py
  tests/test_warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

add local sources
  pyproject.toml
Due: check-toml

docs: correct the silencing guidance - PYTHONWARNINGS cannot name the category
  docs/changes.md
  docs/configuration.md
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

fix formatting
  docs/changes.md
Due: none

feat: add AUTOREAD_DOTENV_QUIET to silence all warnings at startup
  docs/changes.md
  docs/configuration.md
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/utils.py
  tests/test_autoread.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

ignore spelling for typo
  pyproject.toml
Due: check-toml

fix linting md
  docs/configuration.md
Due: none

Path conditions:
  check-json: any of: \.json$, but not: ^.vscode/.*\.json
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/tangent_works/logging.yaml
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-docstring-first: any of: \.py$
  debug-statements: any of: \.py$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$ and \.py$ and not (^tests/_helpers/.*\.py$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
