Repository libranet/autoread-dotenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

check-json:
  name: check json
  entry: check-json
  language: system

check-toml:
  name: check toml syntax
  entry: check-toml
  language: system

check-yaml:
  name: check yaml syntax
  entry: check-yaml
  language: system

check-ast:
  name: check ast
  entry: check-ast
  language: system

check-builtin-literals:
  name: check builtin literals
  entry: check-builtin-literals
  language: system

check-docstring-first:
  name: check docstring first
  entry: check-docstring-first
  language: system

debug-statements:
  name: check debug statements
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files (EOF)
  entry: end-of-file-fixer
  language: system

fix-encoding-pragma:
  name: fix encoding pragma
  entry: fix-encoding-pragma --remove
  language: system

name-tests-test:
  name: pytests are prefixed tests_*.py
  entry: name-tests-test
  args:
  - --pytest-test-first
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  args:
  - --fix
  language: system

increase test coverage
  src/autoread_dotenv/about.py
  tests/test_autoread.py
  tests/test_warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

bump locked versions
  uv.lock
Due: none

bump uv_build version
  pyproject.toml
Due: check-toml

cleanup pylint and ruff fixes
  .just/ruff.justfile
  docs/conf.py
  pyproject.toml
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/about.py
  tests/conftest.py
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

modernize github-actions and re-enable dependabot
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

fix ruff format hook
  .pre-commit-config.yaml
Due: check-yaml

remove deprecated fix-encoding-pragma
  .pre-commit-config.yaml
Due: check-yaml

fix install steps in testing
  .github/workflows/testing.yaml
Due: check-yaml

modernize readthedocs config
  .readthedocs.yaml
Due: check-yaml

fix coverage upload
  .github/workflows/testing.yaml
Due: check-yaml

fix mypy issues on python3.8
  src/autoread_dotenv/about.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

run linting for all python version when failures
  .github/workflows/linting.yaml
Due: check-yaml

add gh-justfile
  .just/gh.justfile
  justfile
Due: none

fix codecov upload
  .github/workflows/testing.yaml
Due: check-yaml

cleanup
  .env.template
Due: none

fix typos
  docs/changes.md
Due: none

add markdown-linting + update docs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .just/mdformat.justfile
  .just/sphinx.justfile
  .pre-commit-config.yaml
  docs/changes.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/contributors.md
  docs/modules/autoread_dotenv/about/index.rst
  docs/modules/autoread_dotenv/utils/index.rst
  docs/readme.md
  docs/security.md
  justfile
  license.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

prepare for release
  .just/uv.justfile
  docs/changes.md
  pyproject.toml
  uv.lock
Due: check-toml

fix linting on 3.8
  pyproject.toml
Due: check-toml

use 3.14 by default
  .pre-commit-config.yaml
  .python-version
  uv.lock
Due: check-yaml

add testpypi-index
  pyproject.toml
Due: check-toml

disable mdformat for now
  .pre-commit-config.yaml
Due: check-yaml

drop python3.8
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .pre-commit-config.yaml
  docs/changes.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

fix markdown syntax
  docs/changes.md
Due: none

remove because of dropped python3.8
  src/autoread_dotenv/about.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

do not swallow error-codes
  .just/ty.justfile
Due: none

bump uv version to be in sync with linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

move minimal code-coverage to pyproject-toml setting
  .just/pytest.justfile
  pyproject.toml
Due: check-toml

remove test foo from justfile
  justfile
Due: none

uv run with local executables
  .pre-commit-config.yaml
Due: check-yaml

fix markdown, renders badly on RTD
  docs/security.md
Due: none

uv run with local executables
  .just/pre-commit.justfile
  .just/project.justfile
Due: none

drop recommonmark, use myst-parse instead
  docs/conf.py
  docs/contributing.md
  docs/readme.md
  pyproject.toml
  uv.lock
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

add prek, as future replacement of pre-commit
  .just/prek.justfile
  justfile
  pyproject.toml
  uv.lock
Due: check-toml

change classifier to stable
  docs/contributing.md
  pyproject.toml
  uv.lock
Due: check-toml

fix default just-recipe
  justfile
Due: none

remove unused vscode snippets
  .vscode/markdown.code-snippets
  .vscode/python.code-snippets
Due: none

add prod-install for uv syn with no extra groups
  .just/uv.justfile
Due: none

whitespace
  .gitignore
Due: none

fix syntax env-variable in pyproject.toml
  pyproject.toml
Due: check-toml

Path conditions:
  check-json: any of: \.json$, but not: ^.vscode/.*\.json
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/tangent_works/logging.yaml
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-docstring-first: any of: \.py$
  debug-statements: any of: \.py$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$ and \.py$ and not (^tests/_helpers/.*\.py$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
