Repository libranet/autoread-dotenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

check-json:
  name: check json
  entry: check-json
  language: system

check-toml:
  name: check toml syntax
  entry: check-toml
  language: system

check-yaml:
  name: check yaml syntax
  entry: check-yaml
  language: system

check-ast:
  name: check ast
  entry: check-ast
  language: system

check-builtin-literals:
  name: check builtin literals
  entry: check-builtin-literals
  language: system

check-docstring-first:
  name: check docstring first
  entry: check-docstring-first
  language: system

debug-statements:
  name: check debug statements
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files (EOF)
  entry: end-of-file-fixer
  language: system

fix-encoding-pragma:
  name: fix encoding pragma
  entry: fix-encoding-pragma --remove
  language: system

name-tests-test:
  name: pytests are prefixed tests_*.py
  entry: name-tests-test
  args:
  - --pytest-test-first
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  args:
  - --fix
  language: system

update
  .just/ruff.justfile
  pyproject.toml
Due: check-toml

fix merge-conflict
  pyproject.toml
Due: check-toml

bump dev-deps
  uv.lock
Due: none

we prefer D211/D212 as linting rules
  pyproject.toml
Due: check-toml

standardize justfiles
  .just/gh.justfile
  .just/git.justfile
  .just/release.justfile
  justfile
Due: none

formatting according to update rules
  docs/conf.py
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/about.py
  src/autoread_dotenv/utils.py
  tests/conftest.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

refactoring warnings
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/about.py
  src/autoread_dotenv/utils.py
  src/autoread_dotenv/warnings.py
  tests/conftest.py
  tests/test_autoread.py
  tests/test_warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

remove autoapi, we use shpinx-autoapi + update docs
  .just/sphinx.justfile
  docs/conf.py
  docs/modules/autoread_dotenv/index.rst
  docs/modules/autoread_dotenv/utils/index.rst
  docs/modules/autoread_dotenv/warnings/index.rst
  pyproject.toml
  uv.lock
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

update changelog
  docs/changes.md
Due: none

simplify function-signature
  src/autoread_dotenv/utils.py
  src/autoread_dotenv/warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

add ty-cjeck to prcommit
  .pre-commit-config.yaml
Due: check-yaml

fix ty checks
  src/autoread_dotenv/warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

fix formatting
  src/autoread_dotenv/warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

pin github-actions on commit-hash
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

cleanup conf.py
  docs/conf.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

fix comments for updated gh-actions
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

Add demo image to readme
  docs/img/demo-autoread-dotenv.png
  docs/readme.md
Due: none

Fix critical nltk Zip Slip vulnerability (CVE in dependabot #48)
  pyproject.toml
  uv.lock
Due: check-toml

Add workflows: write permission to dependabot auto-merge job
  .github/workflows/dependabot-auto-merge.yaml
Due: check-yaml

bump deps
  uv.lock
Due: none

bump uv
  pyproject.toml
Due: check-toml

update recommended extensions, use ty as lang server
  .vscode/extensions.json
Due: none

drop pylint, use ruff/ty
  .github/workflows/linting.yaml
  docs/conf.py
  pyproject.toml
  src/autoread_dotenv/__init__.py
  tests/conftest.py
  tests/test_about.py
  tests/test_autoread.py
  tests/test_entrypoints.py
  tests/test_init.py
  tests/test_warnings.py
Due: check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

fix new ty rule
  pyproject.toml
Due: check-toml

do not run checks that are in precommit
  .github/workflows/linting.yaml
Due: check-yaml

add spell-checker + fix typos
  docs/changes.md
  docs/conf.py
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

fix tests isolation
  tests/conftest.py
  tests/test_about.py
  tests/test_autoread.py
  tests/test_init.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

simplify metadata
  src/autoread_dotenv/about.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

remove pylint
  .env.template
Due: none

formatting markdown
  docs/changes.md
Due: none

drpo mypy, use ty instead
  .env.template
  docs/conf.py
  pyproject.toml
  tests/test_autoread.py
  uv.lock
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

optimize ty settings
  pyproject.toml
Due: check-toml

fix hash-comments
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

testting zizmor in github actions
  .github/workflows/zizmor.yaml
Due: check-yaml

fix ruff
  docs/conf.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

remove bandot and safety (lots of deps)
  pyproject.toml
  uv.lock
Due: check-toml

fix hash comment to regex that zizmor expects
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

fix too broad permissions
  .github/workflows/dependabot-auto-merge.yaml
Due: check-yaml

fix zizmor alert
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

Path conditions:
  check-json: any of: \.json$, but not: ^.vscode/.*\.json
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/tangent_works/logging.yaml
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-docstring-first: any of: \.py$
  debug-statements: any of: \.py$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$ and \.py$ and not (^tests/_helpers/.*\.py$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
