Repository libranet/autoread-dotenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

black:
  name: black
  entry: .venv/bin/black
  args:
  - --config=pyproject.toml
  language: system

flake8:
  name: flake8
  entry: .venv/bin/flake8
  language: system

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system

ruff:
  name: ruff
  entry: .venv/bin/ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

debug-statements:
  name: check-debug-statements
  entry: .venv/bin/debug-statement-hook
  language: system

check-toml:
  name: check-toml
  entry: .venv/bin/check-toml
  language: system

end-of-file-fixer:
  name: fix-end-of-filer
  entry: .venv/bin/end-of-file-fixer
  language: system

fix-encoding-pragma:
  name: fix-encoding-pragma
  entry: .venv/bin/fix-encoding-pragma --remove
  language: system

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  language_version: python3
  pass_filenames: false

add code cov
  .github/workflows/testing.yaml
  .make/02-dir-structure.mk
  .make/05-git.mk
  .make/55-poetry.mk
  .make/60-readthedocs.mk
  .pre-commit-config.yaml
  docs/readme.md
Due: none

add badge
  docs/readme.md
Due: none

set version
  pyproject.toml
  src/autoread_dotenv/__init__.py
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

fix
  docs/changes.md
  pyproject.toml
Due: check-toml, poetry-check

fix
  pyproject.toml
Due: check-toml, poetry-check

update makefiles
  .make/04-pip.mk
  .make/05-git.mk
  .make/20-pytest.mk
  .make/25-sphinx.mk
  .make/55-poetry.mk
  poetry.lock
Due: none

update makefiles
  .make/04-pip.mk
  .make/16-ruff.mk
  .make/18-pyroma.mk
  .make/25-sphinx.mk
  .make/30-pre-commit.mk
Due: none

Release autoread-dotenv 1.0.1
  pyproject.toml
Due: check-toml, poetry-check

Start next development iteration 1.0.2a0
  pyproject.toml
Due: check-toml, poetry-check

add bandit
  .github/workflows/linting.yaml
  .make/05-git.mk
  .make/15-bandit.mk
  pyproject.toml
Due: check-toml, poetry-check

fix path
  .make/15-bandit.mk
Due: none

add snippets
  .vscode/markdown.code-snippets
  .vscode/python.code-snippets
  .vscode/settings.json
Due: none

more testing
  .github/workflows/linting.yaml
  docs/changes.md
  pyproject.toml
  src/autoread_dotenv/__init__.py
  tests/test_autoread.py
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

rework dir-structure for html
  .make/14-mypy.mk
  .make/15-bandit.mk
  .make/19-safety.mk
  .make/25-sphinx.mk
  poetry.lock
  pyproject.toml
Due: check-toml, poetry-check

update
  docs/modules/autoread_dotenv/index.rst
  pyproject.toml
  src/autoread_dotenv/__init__.py
  tests/conftest.py
  tests/test_autoread.py
  tests/test_warnings.py
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

update
  .make/25-sphinx.mk
  docs/modules/autoread_dotenv/index.rst
Due: none

fix coverage-path
  .github/workflows/testing.yaml
  .make/04-pip.mk
  .make/30-pre-commit.mk
Due: none

fix syntax
  .make/30-pre-commit.mk
Due: none

add alias
  .make/20-pytest.mk
Due: none

add black-cachedir
  .env.example
Due: none

add py.tped
  .env.example
  docs/changes.md
  src/autoread_dotenv/py.typed
Due: none

Update __init__.py
  src/autoread_dotenv/__init__.py
Due: black, flake8, mypy, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

remove cancel-function
  docs/changes.md
  pyproject.toml
  src/autoread_dotenv/__init__.py
  tests/test_autoread.py
Due: black, flake8, mypy, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma, poetry-check

update
  poetry.lock
Due: none

Update readme.md
  docs/readme.md
Due: none

remove pinning python <4.0, disable range-pinned deps
  poetry.lock
  pyproject.toml
Due: check-toml, poetry-check

update
  docs/changes.md
  src/autoread_dotenv/__init__.py
Due: black, flake8, mypy, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

Release autoread-dotenv 1.0.2
  docs/changes.md
  pyproject.toml
Due: check-toml, poetry-check

Start next development iteration 1.0.3a0
  pyproject.toml
Due: check-toml, poetry-check

post-release
  docs/changes.md
  src/autoread_dotenv/__init__.py
Due: black, flake8, mypy, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

Update pyproject.toml
  pyproject.toml
Due: check-toml, poetry-check

update deps
  poetry.lock
Due: none

fix order
  makefile
Due: none

update
  .github/workflows/testing.yaml
Due: none

fix cd-ci
  .github/workflows/testing.yaml
Due: none

add automerge
  .github/workflows/dependabot-auto-merge.yaml
Due: none

todo
  .github/workflows/constraints.txt
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  ruff: any of: \.py$
  debug-statements: any of: \.py$
  check-toml: any of: \.toml$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
