Repository libranet/autoread-dotenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

check-json:
  name: check json
  entry: check-json
  language: system

check-toml:
  name: check toml syntax
  entry: check-toml
  language: system

check-yaml:
  name: check yaml syntax
  entry: check-yaml
  language: system

check-ast:
  name: check ast
  entry: check-ast
  language: system

check-builtin-literals:
  name: check builtin literals
  entry: check-builtin-literals
  language: system

check-docstring-first:
  name: check docstring first
  entry: check-docstring-first
  language: system

debug-statements:
  name: check debug statements
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files (EOF)
  entry: end-of-file-fixer
  language: system

fix-encoding-pragma:
  name: fix encoding pragma
  entry: fix-encoding-pragma --remove
  language: system

name-tests-test:
  name: pytests are prefixed tests_*.py
  entry: name-tests-test
  args:
  - --pytest-test-first
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  args:
  - --fix
  language: system

dropped black in favour of ruff
  .env.template
Due: none

update dependencies
  uv.lock
Due: none

fix linting conflict
  pyproject.toml
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/utils.py
  tests/test_warnings.py
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

add ty type-checker
  .vscode/extensions.json
  pyproject.toml
  uv.lock
Due: check-toml

update to python3.13
  docs/readme.md
Due: none

add just-commands for ty
  .github/workflows/linting.yaml
  .just/ty.justfile
  justfile
Due: check-yaml

add empty placeholder for ty-config
  pyproject.toml
Due: check-toml

remove refactored code
  src/autoread_dotenv/__init__.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

fix typing
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/__meta__.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

avoid typing-errors in tests
  pyproject.toml
  tests/test_autoread.py
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

add more typing
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/utils.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

add ruff exception
  tests/test_warnings.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

switch to just for readthedocs
  .just/readthedocs.justfile
  .readthedocs.yaml
  etc/requirements.txt
Due: check-yaml

disable dependabot
  .github/workflows/constraints.txt
  .github/workflows/dependabot-auto-merge.yaml
Due: check-yaml

ruff fixes
  pyproject.toml
  src/autoread_dotenv/__init__.py
  tests/test_warnings.py
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

update deps
  .just/uv.justfile
  uv.lock
Due: none

switch to uv
  .github/dependabot.yaml
Due: check-yaml

enable automerge again
  .github/workflows/dependabot-auto-merge.yaml
Due: check-yaml

update readme for uv
  docs/readme.md
Due: none

fix rtd
  .readthedocs.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

update config to read version from pyproject.toml
  docs/conf.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

use single-quotes in .env
  .env.template
Due: none

add pytest-xdist for parallel test-execution
  pyproject.toml
  uv.lock
Due: check-toml

gitignore variations of .venv and .env
  .gitignore
Due: none

add windows-support for justfiles
  .just/dir-structure.justfile
  .just/dotenv.justfile
  .just/ruff.justfile
  .just/sshx.justfile
  .just/ty.justfile
  .just/uv.justfile
Due: none

enable again ruff
  .just/ruff.justfile
Due: none

add support for windows + python 3.14
  pyproject.toml
Due: check-toml

avoid hardcoding package-names in justfiles
  .just/pytest.justfile
Due: none

update uv.lock
  uv.lock
Due: none

add just-recipe to count nr of just-recipes
  .just/just.justfile
Due: none

remove dependabot for now
  .github/dependabot.yaml
  .github/workflows/dependabot-auto-merge.yaml
Due: check-yaml

Update justfile with updated commands
  Justfile
Due: none

Delete Justfile
  Justfile
Due: none

dont break when import justfile fails
  justfile
Due: none

cleanup pyproject.toml
  pyproject.toml
Due: check-toml

fix arguments to not need quotes
  .just/ipython.justfile
  .just/mypy.justfile
  .just/pylint.justfile
  .just/pyroma.justfile
  .just/safety.justfile
  .just/uv.justfile
Due: none

put uv first in docs
  docs/readme.md
Due: none

bump deps in lockfile
  uv.lock
Due: none

fix mypy cache-dir location
  pyproject.toml
Due: check-toml

modernize
  .gitignore
  .just/mypy.justfile
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/__meta__.py
  src/autoread_dotenv/about.py
  src/autoread_dotenv/py.typed
  tests/conftest.py
  tests/test_about.py
  tests/test_init.py
  tests/test_meta.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

Path conditions:
  check-json: any of: \.json$, but not: ^.vscode/.*\.json
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/tangent_works/logging.yaml
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-docstring-first: any of: \.py$
  debug-statements: any of: \.py$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$ and \.py$ and not (^tests/_helpers/.*\.py$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
