Repository libranet/autoread-dotenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

Path conditions:
  check-json: any of: \.json$, but not: ^.vscode/.*\.json
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: ^src/tangent_works/logging.yaml
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-docstring-first: any of: \.py$
  debug-statements: any of: \.py$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$ and \.py$ and not (^tests/_helpers/.*\.py$)
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$

fix remaining zizmor findings in dependabot-auto-merge workflow
  .github/workflows/dependabot-auto-merge.yaml
Due: check-yaml

add dependabot cooldown to prevent immediate updates
  .github/dependabot.yml
Due: check-yaml

add zizmor justfile and security dependency group
  .just/zizmor.justfile
  justfile
  pyproject.toml
  uv.lock
Due: check-toml

license.md: use 2023-present so the year never needs bumping
  license.md
Due: none

fix remaining low-priority/polish todos
  .pre-commit-config.yaml
  docs/changes.md
  src/autoread_dotenv/__init__.py
Due: check-yaml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

fix release recipe, README wording, tomli fallback, packaging dep, vendored import
  .just/release.justfile
  docs/readme.md
  pyproject.toml
  tests/test_entrypoints.py
  uv.lock
Due: check-toml, check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

add uv audit dependency-vulnerability scanning
  .just/uv.justfile
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

bump pinned version for just and uv to latest releases
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

fix whitespace
  .github/workflows/testing.yaml
Due: check-yaml

restore defensive metadata fallback in about.py
  src/autoread_dotenv/about.py
  tests/test_about.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

add trusted-publishing release workflow
  .github/workflows/release.yaml
  .just/release.justfile
Due: check-yaml

docs/changes.md: log this session's work under 1.1.0
  docs/changes.md
Due: none

fix flaky test_about.py test across Python versions
  tests/test_about.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

prepare 1.0.5 release
  docs/changes.md
  pyproject.toml
  uv.lock
Due: check-toml

rename action
  .github/workflows/releasing.yaml
Due: check-yaml

add pypi-urls
  pyproject.toml
Due: check-toml

fix docs/security.md supported-versions table and typo
  docs/security.md
Due: none

cap pytest-xdist workers to avoid noisy coverage warnings
  .env.template
Due: none

fix typo in CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: post-release housekeeping (dev-version bump, tooling tweaks)
  .just/release.justfile
  .just/ty.justfile
  .just/uv.justfile
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  docs/changes.md
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

Add AUTOREAD_DOTENV_PATH override for non-standard layouts
  docs/changes.md
  docs/modules/autoread_dotenv/about/index.rst
  docs/modules/autoread_dotenv/index.rst
  docs/modules/autoread_dotenv/utils/index.rst
  docs/readme.md
  src/autoread_dotenv/__init__.py
  src/autoread_dotenv/utils.py
  tests/test_autoread.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

Guard entrypoint() against OSError from an unreadable .env
  docs/changes.md
  src/autoread_dotenv/__init__.py
  tests/test_autoread.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

Add subprocess-based integration test for the sitecustomize hook
  docs/changes.md
  tests/test_entrypoints.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

Add Python 3.15 (rc1) to the testing.yaml and linting.yaml CI matrices
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  docs/changes.md
Due: check-yaml

Document and fix autoread-dotenv's startup-time impact
  .just/benchmark.justfile
  docs/changes.md
  docs/index.rst
  docs/modules/autoread_dotenv/index.rst
  docs/performance.md
  docs/readme.md
  justfile
  src/autoread_dotenv/__init__.py
  tests/conftest.py
  tests/test_init.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

Ignore .deps/ (cloned dependencies for local investigation)
  .gitignore
Due: none

Fix PermissionError crash in get_dotenv_path() and silent typos in str_to_bool()
  docs/changes.md
  src/autoread_dotenv/utils.py
  tests/test_autoread.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, name-tests-test, ruff-format, ruff-check

codespell: ignore intentional "fasle" typo, skip generated var/ dir
  pyproject.toml
Due: check-toml

Remove stale pragma: no cover on about.py's exception fallbacks
  docs/changes.md
  src/autoread_dotenv/about.py
Due: check-ast, check-builtin-literals, check-docstring-first, debug-statements, end-of-file-fixer, fix-encoding-pragma, ruff-format, ruff-check

CI: add windows-latest job, matching the claimed Windows classifier
  .github/workflows/testing.yaml
  docs/changes.md
Due: check-yaml

CI: apply the same Linux-only sitecustomize guard to linting.yaml, drop dead comment
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: check-yaml

update for .lock file
  .gitignore
Due: none

CI: add temporary debug step for windows-latest just recipe failure
  .github/workflows/testing.yaml
Due: check-yaml

fix missing recipe for windows
  .just/uv.justfile
Due: none

cleanup
  .github/workflows/testing.yaml
Due: check-yaml

update
  docs/changes.md
  pyproject.toml
Due: check-toml

prepare release 1.0.6
  docs/changes.md
  pyproject.toml
Due: check-toml

update uv.lock
  uv.lock
Due: none

fix release script to use uv run
  .just/release.justfile
Due: none
